# This is Julia

In [1]:
println("Hello Word")

Hello Word

In [2]:
# Single comment line
#= multi
comment
line
=#
hello = 42

42

In [3]:
#only difference for basic math operations from python is the ^ symbol for powers instead of **
pow2 = 10^2

100

In [4]:
#two ways to create strings
str1 = "Here is a string"
str2 = """Here is another string"""

"Here is another string"

In [5]:
#single quote marks only used for single characters!
chrar1 = 'g'

'g': ASCII/Unicode U+0067 (category Ll: Letter, lowercase)

In [6]:
#dollar sign used for variable assingment within strings
name="Dualta"
println("My name is $name")

My name is Dualta

Note you can carry out math operations etc within the a dollar assignment!

In [7]:
one = 1
ten = 10
println("1 + 10 = $(one + ten)")

1 + 10 = 11

In [8]:
#string concatenation
s1 = "hello"
s2 = "world"
string(s1, s2)

"helloworld"

In [9]:
#can use other types in here
string(s1, ten, s2)

"hello10world"

In [12]:
#or multiply for concatenation
s1*s2

"helloworld"

### Data Structures

#### dictionaries

In [13]:
mydict = Dict("Dualta" => 25, "Julia" => 35, "Aoibhin" => 25)

Dict{String,Int64} with 3 entries:
  "Dualta"  => 25
  "Aoibhin" => 25
  "Julia"   => 35

In [14]:
#add entry
mydict["Mike"] = 45

45

In [15]:
mydict

Dict{String,Int64} with 4 entries:
  "Dualta"  => 25
  "Aoibhin" => 25
  "Mike"    => 45
  "Julia"   => 35

In [16]:
#julia also has pop function
pop!(mydict, "Julia")

35

In [17]:
mydict

Dict{String,Int64} with 3 entries:
  "Dualta"  => 25
  "Aoibhin" => 25
  "Mike"    => 45

#### tuples

In [19]:
whiskies = ("teelings", "jameson", "paddy", "bushmills")

("teelings", "jameson", "paddy", "bushmills")

In [21]:
#tuples are ordered so we can index them
#REMEMBER JULIA IS 1-INDEXED
whiskies[1]

"teelings"

In [22]:
#remember tuples are immutable! 
whiskies[1] = "jack daniels"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

#### arrays

In [23]:
flowers = ["tulips", "daffodils", "roses", "sunflowers", "daisies"]

5-element Array{String,1}:
 "tulips"
 "daffodils"
 "roses"
 "sunflowers"
 "daisies"

In [24]:
flowers[3]

"roses"

In [25]:
flowers[3] = "bluebells"

"bluebells"

In [26]:
flowers

5-element Array{String,1}:
 "tulips"
 "daffodils"
 "bluebells"
 "sunflowers"
 "daisies"

In [27]:
rand(3, 3)

3×3 Array{Float64,2}:
 0.496363   0.41419     0.753137
 0.580353   0.554394    0.067606
 0.0209379  0.00847005  0.917945

In [28]:
rand(3, 3, 3)

3×3×3 Array{Float64,3}:
[:, :, 1] =
 0.425129  0.684846  0.683234
 0.353472  0.644938  0.511367
 0.119214  0.701759  0.300578

[:, :, 2] =
 0.904435  0.675878  0.254614
 0.821145  0.407607  0.54104
 0.905209  0.792368  0.172324

[:, :, 3] =
 0.943957  0.458178  0.28692
 0.111057  0.223606  0.897782
 0.234272  0.311783  0.409528